[user]
	email = przekichane@icloud.com
	name = Bartłomiej Rudecki
[color]
	ui = auto
[commit]
	gpgsign = true
[alias]
	f = fetch
	cp = cherry-pick
	s = status
[core]
	editor = nvim
[url "ssh://git@github.com/"]
    pushInsteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
    pushInsteadOf = https://gitlab.com/
[url "ssh://git@kurwica.dev:2022/"]
    pushInsteadOf = https://git.kurwica.dev/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
